@model ChangeUSDToNewCurrencyDto

<div class="row">
    
        
        <div class="col-4">
            <h4 class="card-title">Time </h4>
            <p class="card-description">example : 12:00 </p>
            <div class="input-group">
                <div class="input-group">
                    <input asp-for="Time" type="time" placeholder="00:00" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-4">
            <h4 class="card-title">Currency </h4>
            <p class="card-description">Enter your Currency - example : EUR </p>
            <div class="input-group">
                <div class="input-group">
                    <input asp-for="Currency" placeholder="Please enter currency" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-4">
            <h4 class="card-title">Amount </h4>
            <p class="card-description">Enter your Amount </p>
            <div class="input-group">
                <div class="input-group">
                    <input asp-for="Amount" placeholder="Please enter amount" class="form-control">
                </div>
            </div>
        </div>
        
</div>