@model SendEmailBySelectWeekDayTimeDto

<div class="row">
    <div class="col-6">
        <h4 class="card-title">Day Of Week</h4>
        <p class="card-description">Select Your Day</p>
        <div class="input-group">
            <select class="form-control" asp-for="DayOfWeek" asp-items="ViewBag.DayOfWeek">
            </select>
        </div>
        <span class="text-danger" asp-validation-for="DayOfWeek"></span>
    </div>
    <div class="col-6">
        <h4 class="card-title">Clockpicker (default)</h4>
        <p class="card-description">A simple clockpicker</p>
        <div class="input-group">
            <div class="input-group">
                <input asp-for="Time" type="time" class="form-control">
            </div>
        </div>
        <span class="text-danger" asp-validation-for="Time"></span>
    </div>

</div>