@model JobsModelDto
@{
    ViewData["Title"] = "ShowAffiliateDetail";
}
@section Styles{
    <!-- base:css -->
    <link rel="stylesheet" href="~/Accounting/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Accounting/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/Accounting/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css">

}
<br />

<br />
<div class="content-wrapper p-0 pt-4">
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fa fa-check"></i> Success !</h5>
            @ViewBag.SuccessMessage
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fa fa-remove"></i> Error !</h5>
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="row">
        <div class="col-lg-12 grid-margin d-flex align-items-stretch">
            <div class="row flex-grow">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4>
                                Send email for calc Affiliate Ammount by selecting day and time
                            </h4>
                            <hr />
                            <br />
                            <form asp-action="SendEmailBySelectWeekDayTime" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <partial name="_SendEmailBySelectWeekDayTime" model="Model" />
                                <br />
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12 grid-margin d-flex align-items-stretch">
            <div class="row flex-grow">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4>
                                Backup from Database by selecting day,time and Db name
                            </h4>
                            <hr />
                            <br />
                            <form asp-action="BackUpFromDatabase" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <partial name="_BackupFromDatabase" model="Model" />
                                <br />
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-12 grid-margin d-flex align-items-stretch">
            <div class="row flex-grow">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4>
                                Send email for calc Affiliate Ammount by selecting time
                            </h4>
                            <hr />
                            <br />
                            <form asp-action="SendEmailBySelectTime" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <partial name="_SendEmailBySelectTime" model="Model" />
                                <br />
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12 grid-margin d-flex align-items-stretch">
            <div class="row flex-grow">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4>
                                Delete Local Folder content by date range
                            </h4>
                            <hr />
                            <br />
                            <form asp-action="DeleteLocalFolderContentByDateRange" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <partial name="_DeleteLocalFolderContentByDateRange" model="Model" />
                                <br />
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12 grid-margin d-flex align-items-stretch">
            <div class="row flex-grow">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4>
                                Delete Remote Folder content by date range
                            </h4>
                            <hr />
                            <br />
                            <form asp-action="DeleteRemoteFolderContentByDateRange" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <partial name="_DeleteRemoteFolderContentByDateRange" model="Model" />
                                <br />
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12 grid-margin d-flex align-items-stretch">
            <div class="row flex-grow">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4>
                                Send Affiliates SellReport To Admin
                            </h4>
                            <hr />
                            <br />
                            <form asp-action="SendAffiliatesSellReportToAdmin" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <partial name="_SendAffiliatesSellReportToAdmin" model="Model" />
                                <br />
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{

    <script src="~/Accounting/vendors/moment/moment.min.js"></script>
    <script src="~/Accounting/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <script src="~/Affiliate/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

    <script src="~/js/formpickers.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
